{% extends 'main/base.html' %}

    {% block title %}
    Xendcoin - Password reset
    {% endblock title %}

    {% block content %}
        <!-- LOGIN PAGE -->
        <section class="login px-lg-5 px-1" style="padding-top: 10em;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card" style="background: #141822; border: none;">
                            <div class="card-body" style="box-shadow: rgb(5 33 148) 0px 3px 10px 0px;">
                                <h2 class="text-center text-xl-start">Forgot Password?</h2>
                                <p class="text-center text-xl-start" style="font-size: 14px;">
                                    Enter your email address below, and we will email you instructions. 
                                </p>
                                <hr style= "color: grey">
                                <br>

                                <!-- Render Errors -->
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show pb-0" role="alert">
                                        <div id="form_errors" style="line-height: 1;">                                            
                                            {% for key, value in form.errors.items  %}
                                               <small>{{ value }}</small>
                                            {% endfor %}                                                
                                        </div>                                        
                                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endif %}

                                <form method="post" class="mb-3" style="letter-spacing: 1px;">
                                    {% csrf_token %}
                                    <div class="mb-3 form-group">
                                        <label for="email" class="form-label text-light">Email *</label>
                                        {{ form.email }}
                                    </div>
                                    
                                    <button type="submit" class="btn btn-sm btn-primary w-100" 
                                    style="border-radius: 7px; font-size: 14px;">Send Email</button>                                
                                </form>

                                <a href="{% url 'account:register' %}" class="btn btn-link w-100 pb-0">Create A New Account</a>
                                <a href="{% url 'account:login' %}" class="btn btn-link w-100 pt-0">Back To Login</a>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </section>

        <style>
            .btn-link {
                color: cadetblue !important;
                text-decoration: underline !important;
            }
            .btn-link:hover {
                color: aquamarine !important;
            }
        </style>
    {% endblock content %}
    