{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Xendcoin - About
{% endblock title %}
    
{% block content %}
<!-- About Us -->
<section class="about px-lg-5 px-1" style="padding-top: 10em;">
    <div class="container">
        <h1 class="text-center text-light">About <span style="color: rgb(10, 223, 165);">Us</span></h1>
        <div class="row pt-3">
            <div class="col-md-6">
                <h4 style="color: rgb(39, 179, 252); letter-spacing: 2px;">
                    JOIN US FOR GURANTEED PROFIT EVERYDAY
                </h4>
                <p style="line-height: 1.8; text-align: justify;">
                    At the beginning of 2018, our company with the official name of beeLabbs Capital Diamond Consultants 
                    started its work by forming a group of graduates and students in the field of software engineering 
                    and economic management. In the beginning by setting up a detailed program, we were able to be very 
                    successful in the field of economic consulting to companies and multiplying their profits in the shortest 
                    possible time. Later, the company's activity was focused on financial markets and methods of forecasting 
                    the market situation.
                </p>
                <p style="line-height: 1.8; text-align: justify;">
                    Now, after gaining a lot of experience and designing unique methods of obtaining 
                    sustainable profits from the financial markets by the company's engineering and 
                    business team, during our initial one-year review. In the past, we have always succeeded in 
                    obtaining stable and fast profits, but this is not enough and every human being 
                    wants to increase his success, it does not matter whether you are an investor or 
                    a business owner. That's why we decided to launch <b>beeLabbs</b>. We will bring you 
                    financial success in life with special and innovative investment methods.
                </p>
            </div>
            <div class="col-md-6 abt-img">
                <div>
                    <img src="{% static 'img/about-img.png' %}" alt="about-us" style="width: 600px; height: 300px;">
                </div>

                <!-- MISSION & VISION -->
                <ul class="nav nav-tabs-alt px-4" role="tablist">
                    <li class="nav-item">
                        <a href="#vision" class="nav-link active" data-bs-toggle="tab" role="tab">
                        Our Vision
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#mission" class="nav-link" data-bs-toggle="tab" role="tab">
                        Our Mission
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="padding-left: 2.5em;">
                    <div class="tab-pane fade show active" id="vision" role="tabpanel">
                        <p style="line-height: 1.8;">
                            As an open joint-stock company, our vision is to provide access for financial
                            services offered by Buchii Crypto to individuals irrespective of their financial
                            capability. With our low investment plans and high yield returns, we have gained 
                            a global reputation.<br>
                            Our management also focuses on web3 and metaverse coins which are highly profitable 
                            and provide us maximum returns on our investment. We are also working with other 
                            metaverse platforms as partners. 
                            Our Company is fully insured with 100 Millions Insurance with some Different DEFI staking Pool.</p>
                    </div>
                    <div class="tab-pane fade" id="mission" role="tabpanel">
                        <p style="line-height: 1.8;">
                            <b>Our goal</b> is to help e-commerce enthusiasts, businessmen and those seeking 
                            for a stable income to make a quick and stable profit with a successful investment.<br>
                            The investment management potential created by the professionals working with the 
                            Company had been the underlying reason of the transformation. Due to our outstanding
                            performance in the past and having significantly expanded our assets, the decision 
                            was made to start offering our investment products via specialized online services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Team -->
<section class="px-lg-5 px-1" style="padding-top: 3em;">
    <div class="container">
        <h1 class="text-center text-light mb-1">Meet Our <span  style="color: rgb(10, 223, 165);">Team</span></h1>
        <p class="text-light text-center">
            <span style="color: rgb(39, 179, 252); font-size: 20px;">
                Meet the wonderful people whose lovely contributions have made us who we are today
            </span>
        </p>
        <div class="row pt-3">
            <div class="col-md-4 pt-md-5">
                <!-- One -->
                <figure class="figure card-hover bounceInDown wow">
                    <img src="{% static 'img/about/co-founder.jpg' %}" class="img-thumbnail figure-img" alt="...">
                    <figcaption class="figure-caption text-center text-light"> 
                    <span style="font-weight: 700; letter-spacing: 0.9px; font-size:20px;">
                        Jenny Wilson
                    </span>
                    </figcaption>
                    <figcaption class="figure-caption text-center text-mute">Co-Founder</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <!-- Two -->
                <figure class="figure card-hover bounceInUp wow">
                    <img src="{% static 'img/about/ceo.jpg' %}" class="img-thumbnail figure-img ceo" alt="...">
                    <figcaption class="figure-caption text-center text-light">
                    <span style="font-weight: 700; letter-spacing: 0.9px; font-size:20px;">
                        Robert Fox
                    </span>
                    </figcaption>
                    <figcaption class="figure-caption text-center text-mute">Founder & CEO</figcaption>
                </figure>
            </div>
            <div class="col-md-4 pt-md-5">
                <!-- Three -->
                <figure class="figure card-hover bounceInDown wow">
                    <img src="{% static 'img/about/analyst.jpg' %}" class="img-thumbnail figure-img" alt="...">
                    <figcaption class="figure-caption text-center text-light">
                        <span style="font-weight: 700; letter-spacing: 0.9px; font-size:20px;">
                            Albert Flores
                        </span>
                    </figcaption>
                    <figcaption class="figure-caption text-center text-mute">Chairman, BOARD</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- Why Us -->
<section class="features px-lg-5 px-1" style="padding-top: 3em;">
    <div class="container">
        <h1 class="text-center text-light mb-1">Why Choose <span style="color: rgb(10, 223, 165);">Us</span></h1>
        <p class="text-light text-center">
            <span style="color: rgb(39, 179, 252); font-size: 20px;">
                Here are some of the reasons why our clients chose us
            </span>
        </p>
        <div class="row pt-2">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card feature-card">
                    <div class="card-body feature-card-body">
                        <div class="text-center">
                            <img src="{% static 'img/svg/support.png' %}" class="feature-card-img" alt="support">
                        </div>
                        <div class="card-title feature-card-title">
                            <p class="lead text-center"><b>24/7 Customer Support</b></p>
                        </div>
                        <div class="card-text">
                            <p>
                                We provide 24/7 customer support through e-mail. Our support 
                                representatives are always available to answer any questions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card feature-card">
                    <div class="card-body feature-card-body">
                        <div class="text-center">
                            <img src="{% static 'img/svg/server.png' %}" alt="server" class="feature-card-img">
                        </div>
                        <div class="card-title feature-card-title">
                            <p class="lead text-center"><b><em>Dedicated Server</em></b></p>
                        </div>
                        <div class="card-text">
                            <p>
                                We use a dedicated server with the highest level of DDOS protection 
                                to ensure that your funds are always safe with us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card feature-card">
                    <div class="card-body feature-card-body">
                        <div class="text-center">
                            <img src="{% static 'img/svg/ssl.png' %}" alt="ssl" style="width: 26px;" class="feature-card-img">
                        </div>
                        <div class="card-title feature-card-title">
                            <p class="lead text-center"><b>EV SSL</b></p>
                        </div>
                        <div class="card-text">
                            <p>
                                Our website is secured with 256-bit encryption from Comodo 
                                that verifies the authenticity of our company.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card feature-card">
                    <div class="card-body feature-card-body">
                        <div class="text-center">
                            <img src="{% static 'img/svg/regsitered.png' %}" style="width: 26px;" class="feature-card-img" alt="registered">
                        </div>
                        <div class="card-title feature-card-title">
                            <p class="lead text-center"><b><em>Registered Company</em></b></p>
                        </div>
                        <div class="card-text">
                            <p>
                                Our company is registered in the United Kingdom as “Buchii Ltd" .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card feature-card">
                    <div class="card-body feature-card-body">
                        <div class="text-center">
                            <img src="{% static 'img/svg/instant.png' %}" class="feature-card-img" alt="instant">
                        </div>
                        <div class="card-title feature-card-title">
                            <p class="lead text-center"><b>Instant Withdrawals</b></p>
                        </div>
                        <div class="card-text">
                            <p>
                                Our withdrawals are all processed swiftly after they are requested.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card feature-card">
                    <div class="card-body feature-card-body">
                        <div class="text-center">
                            <img src="{% static 'img/svg/ddos.png' %}" class="feature-card-img" alt="ddos">
                        </div>
                        <div class="card-title feature-card-title">
                            <p class="lead text-center"><b><em>DDoS Protected Systems</em></b></p>
                        </div>
                        <div class="card-text">
                            <p>
                                We use the highest level of protection . Our website can resists attacks of any size.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>    
    .img-thumbnail {
        background: linear-gradient(to left, 
        rgba(34, 70, 189, 0.664) 0%, 
        rgb(3, 51, 211) 100%);
    }
    .ceo.img-thumbnail {
        background: linear-gradient(to left, 
        rgba(255, 255, 255, 0.233) 0%, 
        rgba(255, 255, 255, 0.507) 100%);
    }
</style>
{% endblock %}