{% extends 'main/base.html' %}

{% block title %}
    Xendcoin - Investment plans
{% endblock title %}

{% block content %}
<section class="investment px-lg-5 px-1" style="padding-top: 10em;">
    <div class="container">
        <h1 class="text-center">
            Investment <span style="color: rgb(10, 223, 165);">Plans</span>
        </h1>
        <div class="row pt-3" style="display: flex; justify-content: center;">
            <!-- First -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card card-invest card-hover rotateInDownLeft wow card-hover-primary">
                    <div class="text-center text-light py-4" style="background: #000;">
                        <h5 class="card-title text-light" style="position: relative;">BASIC PLAN</h5>
                        <p class="btn btn-sm btn-primary" style="margin-bottom: 60px; padding: 2px 20px; color: white; cursor: auto;">Investment</p>
                        <p>
                            <span style="font-size: 60px; position: absolute; top: 1.5em; left: 0; padding-left: 25px; color: rgb(39, 179, 252)">
                                3<b style="font-size: 30px;"><sup>%</sup></b></span>
                            <span style="position: absolute; right: 0; padding-right: 25px; top: 8.5em; color: grey;">
                                <em>DAILY</em></span>
                        </p>
                    </div>
                    <div class="class-body text-light" style="background: rgb(0, 22, 97);">
                        <ul class="list-unstyled text-left py-3 pb-2" style="display: flex; flex-direction:column;">
                            <li class="px-4">
                                <span style="font-weight: 700;">Term</span>
                                <span style="float: right;"><b>2 Days</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Daily Yield</span>
                                <span style="float: right;"><b>3%</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Min</span>
                                <span style="float: right;"><b>USD 80.00</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Max</span>
                                <span style="float: right;"><b>USD 2,999.00</b></span>
                            </li>
                        </ul>
                        <div class="text-center pb-3">
                            <a href="" class="btn btn-sm btn-outline-primary invest">INVEST</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card card-invest card-hover card-hover-primary rotateIn wow">
                    <div class="text-center text-light py-4" style="background: #000;">
                        <h5 class="card-title text-light" style="position: relative;">GOLD PLAN</h5>
                        <p class="btn btn-sm btn-primary" style="margin-bottom: 60px; padding: 2px 20px; color: white; cursor: auto;">Investment</p>
                        <p>
                            <span style="font-size: 60px; position: absolute; top: 1.5em; left: 0; padding-left: 25px; color: rgb(39, 179, 252)">
                                6<b style="font-size: 30px;"><sup>%</sup></b></span>
                            <span style="position: absolute; right: 0; padding-right: 25px; top: 8.5em; color: grey;">
                                <em>DAILY</em></span>
                        </p>
                    </div>
                    <div class="class-body text-light" style="background: rgb(0, 22, 97);">
                        <ul class="list-unstyled text-left py-3 pb-2" style="display: flex; flex-direction:column;">
                            <li class="px-4">
                                <span style="font-weight: 700;">Term</span>
                                <span style="float: right;"><b>2 Days</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Daily Yield</span>
                                <span style="float: right;"><b>6%</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Min</span>
                                <span style="float: right;"><b>USD 3,000.00</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Max</span>
                                <span style="float: right;"><b>USD 7,999.00</b></span>
                            </li>
                        </ul>
                        <div class="text-center pb-3">
                            <a href="" class="btn btn-sm btn-outline-primary invest">INVEST</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third -->
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card card-invest card-hover card-hover-primary rotateInDownRight wow">
                    <div class="text-center text-light py-4" style="background: #000;">
                        <h5 class="card-title text-light" style="position: relative;">PLATINUM PLAN</h5>
                        <p class="btn btn-sm btn-primary" style="margin-bottom: 60px; padding: 2px 20px; color: white; cursor: auto;">Investment</p>
                        <p>
                            <span style="font-size: 60px; position: absolute; top: 1.5em; left: 0; padding-left: 25px; color: rgb(39, 179, 252)">
                                10<b style="font-size: 30px;"><sup>%</sup></b></span>
                            <span style="position: absolute; right: 0; padding-right: 25px; top: 8.5em; color: grey;">
                                <em>DAILY</em></span>
                        </p>
                    </div>
                    <div class="class-body text-light" style="background: rgb(0, 22, 97);">
                        <ul class="list-unstyled text-left py-3 pb-2" style="display: flex; flex-direction:column;">
                            <li class="px-4">
                                <span style="font-weight: 700;">Term</span>
                                <span style="float: right;"><b>2 Days</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Daily Yield</span>
                                <span style="float: right;"><b>10%</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Min</span>
                                <span style="float: right;"><b>USD 8,000.00</b></span>
                            </li>
                            <li class="px-4">
                                <span style="font-weight: 700;">Max</span>
                                <span style="float: right;"><b>USD 40,000.00</b></span>
                            </li>
                        </ul>
                        <div class="text-center pb-3">
                            <a href="" class="btn btn-sm btn-outline-primary invest">INVEST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table profit-check responsive" style="overflow-x: scroll;">
            <div class="calu">
                <table class="cal table table-hover">
                    <thead style="color: rgb(255, 255, 255); font-weight: 600;">
                        <tr>
                            <td>
                                <label style="">Select Plan</label>
                                <select id="calc_plan" style="
                                border: 0px;
                                padding: 6px;
                                width: 110%;
                                border-radius: 30px;
                                text-transform: capitalize;
                                letter-spacing: 0.5px;
                                outline: none;">
                                    <option value="1">20% Daily For 2 Days</option>
                                    <option value="2">40% Daily For 4 Days</option>
                                    <option value="3">68% Daily For 6 Days</option>
                                </select>
                            </td>
                        </tr>
                    </thead>
                    
                    <thead; style="color: rgb(255, 255, 255);">
                        <tr>
                            <th>Enter Amount</th>
                            <th>Total Profit</th>
                            <th>Total Percent</th>
                            <th>Total Return</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>
                                <input id="inv_amount" type="text" value="100">
                            </td>
                            <td>
                                <input id="net_profit" class="profit-data" type="text" value="100" readonly="">
                            </td>
                            <td>
                                <input id="assign_per" class="profit-data" type="text" value="100" readonly="">
                            </td>
                            <td>
                                <input id="total_return" class="profit-data" type="text" value="100" readonly="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}